{% for value in tree %}
<ul>
    <li class='category-list'>
        <a class='category-info-link' href="../../info/controller/list.php?id={{value.id}}">{{value.ctg_name}}</a>
        <button class='category_create_btn' type="button"><i class="fas fa-folder-plus"></i></button>
        <form class="trash-form" action="../../manager/controller/top.php" method="post">
            <input type="hidden" name="id" value="{{value.id}}">
            <button type="submit" class="trash-btn"><i class="fas fa-trash"></i></button>
        </form>
        <span class="ctg_input_zone">
            <form id="form_{{value.id}}" action="../../manager/controller/top.php" method="post">
                <input class='category_input' type='text' name='ctg_name'>
                <input value="{{value.id}}" type='hidden' name='parent_id'>
                <button type='submit' for="form_{{value.id}}">作成</button>
            </form>
        </span> 
        <input class='plus-input' type='text' id="standard"></input>
    </li>
    {% if value.children is defined %}
        {% include 'manager/view/category_list.html.twig' with {'tree': value.children} %}
    {% endif %}
</ul>
{% endfor %}

