<html>
    <head>
        <meta charset="utf-8">
        <title>編集画面（管理者用）</title>
    </head>
    <body>
        <h1>管理者用編集</h1>
        {{info_user.name}}さんからの確認依頼です
        <input type="hidden" name="entry_url" id="entry_url" value="{{constant('common\\model\\Bootstrap::ENTRY_URL')}}">
        <form method="post" action="../../info/controller/post_confirm.php" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{csrf_token}}">
            <table>
                <tr>
                    <th>タイトル</th>
                    <td>
                        <input type="text" name="title" value="{{info_user.title}}">
                    </td>
                </tr>
                <tr>
                    <th>カテゴリー名</th>
                    <td>
                        {% include 'common/view/category_list.html.twig' %}
                    </td>
                </tr>
                <tr>
                    <th>内容</th>
                    <td>
                        <textarea name="content" row="4" cols="40">{{info_user.content}}</textarea>
                    </td>
                </tr>
                <tr>
                    <th>画像</th>
                    <td>
                        <input type="file" name="image">
                    </td>
                </tr>
            </table>
            <div>
                <input type="submit" name="manager_edit_confirm" value="投稿">
            </div>
            <input type="hidden" name="id" value="{{info_user.id}}">
        </form>
    </body>
</html>