{% extends 'manager/view/base.html.twig' %}

{% block title %}スタッフ未読確認一覧{% endblock %}
{% block content %}
    <h2 class="h2">スタッフ未読確認一覧</h2>
    <div id="read_check">
        {% for user in users %}
            {% for key, value in readedByUser%}
                {% if user.name == key %}
                    <table>
                        <tr>
                            <th>名前：</th>
                            <th>
                                <a href="read_check_detail.php?user_id={{value.user_id}}">{{key}}</a>
                                {% if value.unreaded is not empty %}
                                    <span class="hover-message">
                                        <i class="fas fa-exclamation-circle" style="color: #e65f33;">
                                            <span class="word">未読の記事が{{ value.unreaded|length }}件あります</span>
                                        </i>
                                    </span>
                                {% endif %}
                            </th>
                        </tr> 
                    </table>
                {% endif %}
            {% endfor %}
            <br>
        {% endfor %}
    </div>
        {% for number in range(1, page_num, 1) %}
            <a href="read_check_list.php?page={{number}}" {% if page == number %}style="color: red;"{% endif %}>{{ number }}</a>
        {% endfor %}
        <br>
        <a href="{{constant('common\\model\\Bootstrap::MANAGER_TOP_URL')}}">戻る</a>
{% endblock %}
