{% extends 'manager/view/base.html.twig' %}

{% block title %}スタッフ一覧画面{% endblock %}
{% block content %}
    <h2 class="h2">スタッフ一覧</h2>
    <div id="user_list">
        <form method="post" action="user_list.php" >
            {% for user in users%}
                    <table style="border: 2px solid #aaa; padding: 2em;">
                        <tr>
                            <th>名前</th>
                                <td>{{user.name}}</td>
                        </tr>
                        <tr>
                            <th>権限</th>
                            {% if user.manager_flg == '0' %}
                                <td>スタッフ</td>
                            {% else %}
                                <td>管理者</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>メールアドレス</th>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <th>登録日時</th>
                            <td>{{user.regist_at}}</td>
                        </tr>
                    </table>
                    <div>
                        {% if user.delete_flg == '0' %}
                            <button type="submit" name="delete_user_id" value="{{user.id}}">削除する</button>
                        {% endif %}
                        {% if user.manager_flg == '0' %}
                            <button type="submit" name="non_manager_user_id" value="{{user.id}}">管理者へ設定</button>
                        {% elseif user.manager_flg == '1' %}
                            <button type="submit" name="manager_user_id" value="{{user.id}}">管理者解除</button>
                        {% endif %}
                    </div>
                    <br><br>
            {% endfor %}
        </form>
        {% for number in range(1, page_num, 1) %}
            <a href="user_list.php?page={{number}}" {% if page == number %}style="color: red;"{% endif %}>{{ number }}</a>
        {% endfor %}
        <br>
        <a href="{{constant('common\\model\\Bootstrap::MANAGER_TOP_URL')}}">戻る</a><br>
    </div>
{% endblock %}