{% extends 'user/view/base.html.twig' %}

{% block title %}詳細画面{% endblock %}
{% block content %}
    <h2 class='h2'>詳細画面</h2>
    {% for value in info_detail %}
        <p>{{value.ctg_name}}</p>
        <p>タイトル：{{value.title}}</p>
        <p>作成日時：{{value.create_at}}</p>
        <p>作成者：{{value.name}}</p>
        <p>内容：{{value.content}}</p>
        {% if value.image is defined and value.image != ''%}
            <p>画像：<img src="{{constant('common\\model\\Bootstrap::ENTRY_URL')}}images/{{value.image}}" width="300"/></p>
        {% else %}
            <p>画像：なし</p>
        {% endif%}
        {% if value.user_id  == session_user_id%}
            <div id="edit">
                <a href="../../info/controller/edit_detail.php?id={{value.id}}"><input class="btn btn-primary" type="button" name="edit" value="編集" id="edit"/></a><br><br>
            </div>
            <div id="delete">
                <a href="../../info/controller/delete.php?id={{value.id}}"><input class="btn btn-primary" type="button" name="delete" value="削除" id="delete" /></a>
            </div>
        {% endif %}
    {% endfor %}
    <a class="none-link" href="{{constant('common\\model\\Bootstrap::TOP_URL')}}">戻る</a><br>
    <a class="none-link" href="../../user/controller/top.php">トップページへ戻る</a>
{% endblock %}