{% extends 'user/view/base.html.twig' %}

{% block title %}編集画面{% endblock %}
{% block content %}
    <h2 class='h2'>編集画面</h2>
    {{info_user.name}}さんが作成した投稿記事を編集できます。
    <input type="hidden" name="entry_url" id="entry_url" value="{{constant('common\\model\\Bootstrap::ENTRY_URL')}}">
    <form method="post" action="post_confirm.php" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{csrf_token}}">
        <table>
            <tr>
                <th>タイトル</th>
                <td>
                    <input type="text" name="title" value="{{info_user.title}}">
                </td>
            </tr>
            <tr>
                <th>カテゴリー名</th>
                <td>
                    {% include 'common/view/category_list.html.twig' %}
                </td>
            </tr>
            <tr>
                <th>内容</th>
                <td>
                    <textarea name="content" row="4" cols="40">{{info_user.content}}</textarea>
                </td>
            </tr>
            <tr>
                <th>画像</th>
                <td>
                    {% if info_user.image_name == "" %}
                        <input type="file" name="image">
                    {% else %}
                        変更する場合はファイルを選択してください。
                        <input type="file" name="image">
                        <input type="hidden" name="image_name" value={{ info_user.image }}>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>管理者の確認が不要の場合にはチェックしてください</th>
                <td>
                    <input type="checkbox" name="check_flg"
                        {% if info_user.check_flg %} checked="checked" {% endif %}>
                </td>
            </tr>
        </table>
        <div>
            <input type="submit" name="edit_confirm" value="確認画面">
        </div>
        <input type="hidden" name="id" value="{{info_user.id}}">
    </form>
{% endblock %}