<h1>一覧画面</h1>
{% for info in infos %}
    <p><a href="detail.php?info_id={{info.id}}">{{info.title}}</a></p>
    <p>{{info.create_at}}</p>
{% endfor %}
    <p>{{message}}</p>
<a href="{{constant('common\\model\\Bootstrap::TOP_URL')}}">戻る</a>

