<html>
<head>
    <meta charset="utf-8">
    <link href="{{constant('user\\model\\Bootstrap::APP_URL')}}css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>会員登録</title>
    <style>
        body {
            margin: 50vh auto 0;
            transform: translateY(-50%);
            padding: 15px 30px;
            color: #554d4d;
            text-align: center;
            width: 500px;
        }

        .red {
            color: red;
        }
    </style>
</head>
<body>
    <h2>会員登録</h2>
    <input type="hidden" name="entry_url" id="entry_url" value="{{constant('user\\model\\Bootstrap::ENTRY_URL')}}">
    <form method="post" action="confirm.php">
        <input type="hidden" name="csrf_token" value="{{csrf_token}}">

        <!-- Name input -->
        <div class="form-outline mb-4">
            <input type="text" name="name" placeholder="* Name" value="{{dataArr.name}}" id="form2Example1" class="form-control" />
            {%if errArr.name | length > 0 %}<br><span class="red">{{errArr.name}}</span>{%endif%}
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" name="email" placeholder="* email" value="{{dataArr.pass}}" id="form2Example2" size="40" class="form-control" />
            {% if errArr. email | length > 0 %}<br><span
                class="red">{{errArr.email}}</span>{% endif %}
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <p>パスワードは8桁以上で入力してください</p>
            <input type="password" name="pass" placeholder="* Password" value="{{dataArr.pass}}" id="form2Example2" class="form-control" />
            {%if errArr.pass | length > 0 %}<br><span class="red">{{errArr.pass}}</span>{%endif%}
        </div>

        <!-- Password confirm input -->
        <div class="form-outline mb-4">
            <input type="password" name="pass_confirm" placeholder="* Password Confirm" value="{{dataArr.pass}}" id="form2Example2" class="form-control" />
            {%if errArr.pass_confirm | length > 0 %}<br><span class="red">{{errArr.pass_confirm}}</span>{%endif%}
        </div>

        <!-- 2 column grid layout for inline styling -->
        <!-- Submit button -->
        <button type="submit" name="confirm" value="登録確認" class="btn btn-primary btn-block mb-4">Sign up</button>
        <div class="row mb-4">
            <div class="col">
            <!-- Simple link -->
            <a href="login.php">Sign in?</a>
            </div>
        </div>
    </form>
</body>
</html>
