{% extends 'user/view/base.html.twig' %}

{% block title %}テスト問題{% endblock %}
{% block content %}
    <h2 class='h2'>テスト問題</h2>
    <p>タイトル：{{test.title}}</p>
    <form action="test_detail.php" method="post">
        {% for key, question in questions %}
            <p><b>問題：{{key+1}}</b></p>
            <p>{{question.question}}</p>
            <label><input type="radio" name="{{question.id}}" value="1">正しい</label>
            <label><input type="radio" name="{{question.id}}" value="2">誤り</label>
        {% endfor %}
        <br>
        <input type="submit" name="submit">
    </form>
    <a href="{{constant('common\\model\\Bootstrap::TOP_URL')}}">トップページへ戻る</a>
{% endblock %}
